body {
  margin: 0;
  background-color: #fffcef;
}

h1 {
  font-family: "Meow Script", cursive;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Shadows Into Light", cursive;
  margin: 0;
}

p {
  font-family: "Poiret One", sans-serif;
  margin: 0;
}



@-webkit-keyframes scale-up {
  0% {
   scale: .5;
  }
  100% {
    scale: 1;
  }
}
@keyframes scale-up {
  0% {
   scale: .5;
  }
  100% {
    scale: 1;
  }
}

@-webkit-keyframes show {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
} 
